.sentry-layout {
  .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
  }
  .menu-controler {
    width: 100%;
    height: 30px;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .anticon {
      margin: 0 8px;
      color: #fff;
    }
  }
  .sentry-menu {
    .menu-sub {
      .menu-item {

      }
      .ant-menu-submenu-title {
        &:after {
          display: none;
        }
      }
      .anticon-caret-down {
        font-size: 12px;
      }
    }
  }
  .sentry-sider {

  }
  .sentry-header {
    margin: 0 16px;
    .header-breadcrumb {
      margin: 12px 0;
    }
  }
  .ant-layout-sider-collapsed{
    .anticon {
      margin-left: 8px;
    }
    .nav-text {
      display: none;
    }
    .ant-menu-submenu-vertical {
      .ant-menu-submenu-title {
        &:after {
          display: none;
        }
      }
    }
  }
}
